@import '@/mixins.scss';

.breadcrumbs {
  padding: rem(20) rem(30) rem(20);
  font-size: rem(17);
  background-color: $main;
  color: $white;

  a {
    color: $white;
  }
}

.current {
  // color: $black;
  color: $white;
}

.arrow {
  display: inline-block;
  margin: 0 rem(10);
  &:after {
    display: inline-block;
    content: '·';
    // color: $gray-5;
    color: $white;
  }
}

// dark theme
[data-vb-theme='dark'] {
  .breadcrumbs {
    // color: $dark-gray-1;
    color: $white;
  }

  .current {
    color: $white;
  }

  .arrow {
    &:after {
      // color: $dark-gray-1;
      color: $white;
    }
  }
}
